@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background-color: black;
}

body::-webkit-scrollbar {
  background-color: white;
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: #000000;
  border: none;
  padding: 1.3rem 3rem;
  border-radius: 3rem;
  color: rgb(255, 255, 255);
  font-size: larger;
  font-weight: bold;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 0.1rem solid transparent;
}

button:hover {
  background-color: rgb(0, 0, 0);
  border-color: #ffffff;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  font-size: 3em;
}

h2 {
  color: #ffffff;
  font-size: 2.2em;
}

h3 {
  color: #ffffff;
  font-size: 1.4em;
}

h4 {
  color: #ffffff;
  font-size: 1.2em;
}

h5 {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.15em;
  letter-spacing: 0.05rem;
  line-height: 1.7em;
}

p {
  color: #ffffff;
  font-size: 1.1em;
  letter-spacing: 0.04em;
  line-height: 1.5em;
}

a {
  color: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 1.3em;
  margin: 0 2em;
}

.starter .subTitle{
  color: #c2c1c1;
}

.starter .description{
  color: #868585;
}
.about .description2{
  color: #8a8888;
}

.about .subTitle{
  color: #adacac;
}

.achievements .subTitle{
  color: #adacac;
}

a:hover {
  color: #adacac;
}

.info .title {
  margin-top: 0.5rem;
}

.info .description {
  margin: 1.2rem 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrollToTop {
  height: 5rem;
  width: 5rem;
  background-color: #000000;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-image: url("../assets/whitedot.png");
  background-position: center center;
  background-size: 3rem;
  background-repeat: no-repeat;
  border-radius: 4rem;
  position: fixed;
  bottom: 10px;
  right: 25px;
  cursor: pointer;
  display: none;
  z-index: 4;
}

nav {
  margin: 0 2rem;
  padding: 2rem;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .brand .responsive-toggle {
  display: none;
}

nav .container .links ul li:nth-child(1) a {
  color: #adacac;
}

.starter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.starter .info {
  margin: 3rem 2rem 0 9rem;
}

.starter .info .title {
  margin: 2rem 0 3rem 0;
}

.starter .info .description {
  margin-bottom: 9rem;
}

.starter .image img {
  max-width: 78%;
}

.about {
  margin: 2rem 4rem;
  margin-top: 5.5rem;
}

.about .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .info .description {
  width: 100%;
  text-align: center;
  text-justify: auto;
}

.about .content {
  position: relative;
}

.about .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
  margin-top: 1rem;
}

.about .cards .card {
  height: 25rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-bottom: 0.2rem solid white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.about .cards .card .text {
  padding: 2rem;
  text-align: center;
}

.about .cards .card .text .title {
  margin-bottom: 1rem;
}

.about .cards .card img {
  max-height: 8rem;
}

.about .cards .card:hover {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-bottom: 0.2rem solid #adacac;
}

.achievements {
  margin: 4rem;
  margin-top: 5.5rem;
}

.achievements .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.achievements .info .description {
  width: 100%;
  text-align: center;
}

.achievements .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achievements .image img {
  width: 100%;
}

.contact {
  margin: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .form {
  margin-top: 2rem;
  position: relative;
}

.contact .form input {
  border-radius: 10rem;
  width: 40rem;
  border: none;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 2rem;
}

.contact .form button {
  position: absolute;
  right: 0.5rem;
  top: 0.35rem;
  padding: 1.4rem 4rem;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
  color: #868585;
}

@media (max-width: 480px) {
  body {
    font-size: 11px;
  }
  .virus,
  .virus2,
  .virus3 {
    display: none;
  }
  .info .description {
    width: 90% !important;
  }
  nav {
    position: relative;
    padding: 1rem;
    margin: 0;
  }
  nav .responsive-toggle {
    display: block !important;
    position: absolute;
    right: 2rem;
  }
  nav .responsive-toggle i {
    font-size: 1.5rem;
  }
  nav .logo img {
    height: 3rem;
  }
  nav .links {
    position: absolute;
    top: -40rem;
    left: 0;
    margin-top: 10rem;
    background-color: white;
    width: 100%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 99;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 0;
  }
  nav .links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  nav .links ul button {
    padding: 1rem 2rem;
  }
  .starter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
  .starter .info {
    margin: 1rem;
  }
  
  .about .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .achievements img {
    width: 100% !important;
  }

  .contact {
    margin: 2rem;
    text-align: center !important;
  }
  .contact .form {
    width: 100%;
  }
  .contact .form input {
    width: 80%;
    font-size: 0.8rem;
  }
  .contact .form button {
    padding: 1rem 2rem !important;
    top: 0.9rem !important;
  }

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 15px;
  }
  .virus,
  .virus2,
  .virus3 {
    display: none;
  }
  .info .description {
    width: 90% !important;
  }
  nav {
    position: relative;
    padding: 2rem;
    margin: 0;
  }
  nav .responsive-toggle {
    display: block !important;
    position: absolute;
    right: 5rem;
  }
  nav .responsive-toggle i {
    font-size: 1.5rem;
  }
  nav .logo img {
    height: 3rem;
  }
  nav .links {
    position: absolute;
    top: -40rem;
    left: 0;
    margin-top: 10rem;
    background-color: white;
    width: 100%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 0;
    z-index: 99;
  }
  nav .links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  nav .links ul button {
    padding: 1rem 2rem;
  }
  .starter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
  
  .about .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .achievements img {
    width: 100% !important;
  }
  
  .contact {
    margin: 2rem;
    text-align: center !important;
  }
  .contact .form {
    width: 100%;
  }
  .contact .form input {
    width: 80%;
  }
  .contact .form button {
    padding: 1rem 2rem !important;
    top: 0.7rem !important;
    right: 4rem;
  }
}
}